head {
  background-image: url("~/media/images/DartOS Website Background 1920x1080.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
